{% extends 'home.html' %}
{% block content %}
<div class="logo1">
    <u style="color:rgb(14, 15, 16)"><h1 style="color: black;" align="center">TOUR WITH FRIENDS</h1></u>
        <br>
        <table border="1" style="color: rgb(26, 26, 25); background-color:  rgb(138, 244, 96); opacity: 70%;" align="center">
            <tr>
                <th style="color:black">Location</th>
                <th style="color:black">Description</th>
            </tr>
                {% for i in cat %}
                    <tr>
                        <td>{{i.location}}</td>
                        <td>{{i.details}}</td>
                    </tr>
                {% endfor %}
        </table>
    </div>

     
{% endblock %}
