{% extends 'home.html' %}
{% block content %}
<head>
    <style>
    h1 {text-align: center;}
    h2 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    </style>
</head>
<div class="container" style="margin-top: 50px;">
   <h2 class="font-weight-bold mt-3"><a style = "color:black" href="/loginmodule/suggestions/fam">Family Tours</a></h2>
   <h2 class="font-weight-bold mt-3"><a style = "color:black" href="/loginmodule/suggestions/rel">Religious Tours</a></h2>
   <h2 class="font-weight-bold mt-3"><a style = "color:black" href="/loginmodule/suggestions/adv">Adventurous Tours</a></h2>
   <h2 class="font-weight-bold mt-3"><a style = "color:black" href="/loginmodule/suggestions/frn">Friends Tours</a></h2>
</div>
     
{% endblock %}
